extends template/main

block variables
    - var title = 'Бренды'
    - var pageClass = 'brands-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__current Бренды
    section.s-brands
        .container
            .brands
                h1.title-page Бренды
                ul.brands__list
                    each brand in [{img:'brand-1',name:'PUKY'},{img:'brand-2',name:'HUNDORA'},{img:'brand-3',name:'Merida'},{img:'brand-4',name:'Micro'},{img:'brand-5',name:'Scool'},{img:'brand-6',name:'Strider'},{img:'brand-1',name:'PUKY'},{img:'brand-2',name:'HUNDORA'},{img:'brand-3',name:'Merida'},{img:'brand-4',name:'Micro'},{img:'brand-5',name:'Scool'},{img:'brand-6',name:'Strider'},{img:'brand-1',name:'PUKY'},{img:'brand-2',name:'HUNDORA'},{img:'brand-3',name:'Merida'},{img:'brand-4',name:'Micro'},{img:'brand-5',name:'Scool'},{img:'brand-6',name:'Strider'},{img:'brand-1',name:'PUKY'},{img:'brand-2',name:'HUNDORA'},{img:'brand-3',name:'Merida'},{img:'brand-4',name:'Micro'},{img:'brand-5',name:'Scool'},{img:'brand-6',name:'Strider'}]
                        li.brands__item
                            a(href="brand.html").brand
                                img(src=`static/images/content/brands/${brand.img}.png` alt="Логотип бренда").brand__img
                                span.brand__name=brand.name
    section.s-content
        .container
            .content-block
                h3.title-block Сео текст по брендам
                p.text Купить беговел можно в нашем интернет-магазине. Это обойдется недорого. В ассортименте есть большое количество моделей от известных производителей. Все товары соответствуют европейским стандартам безопасности. 
                p.text Интернет-магазин «Baby-toys» обслуживает покупателей из всех регионов России. Можно покупать товар партиями или поштучно. Доставка осуществляется в кратчайшие сроки не зависимо от количества приобретаемого товара. В случае необходимости магазин оказывает бесплатные консультации.
                
 

