// Colors
$white: #ffffff;
$black: #000000;

$mine-shaft: #262626;
$tundora: #4b4b4b;
$mid-gray: #6e6e6f;
$dusty-gray: #999999;
$oslo-gray: #939495;
$silver-chalice: #a9a9a9;
$silver: #cccccc;
$alto: #dddddd;
$porcelain: #f6f8f9;
$wild-sand: #f6f6f6;
$athens-gray: #eef2f4;

$blaze-orange: #ff6d00;

$vida-loca: #48a216;
$chelsea-cucumber: #8eb359;

$placeholder-color: #a6a6a6;

// Sizes
$base-font-size: 14px;
$content-size: 1140px;
$tablet-size: 1139px;
$phone-size: 767px;
$phone-size-small: 360px;

// $breakpoints: (
//   "phone"       : 400px,
//   "phone-wide"  : 480px,
//   "phablet"     : 560px,
//   "tablet-small": 640px,
//   "tablet"      : 768px,
//   "tablet-wide" : 1024px,
//   "desktop"     : 1248px,
//   "desktop-wide": 1440px
// );

// Fonts
$main-font: 'Open Sans', Arial, sans-serif;
// $italic-font: 'open_sansitalic', Arial, sans-serif;
$banner-title-font: 'Vag Round Cyrillic', sans-serif; 