.main-nav__dropdown-wrapper
    .main-nav__dropdown
        ul.catalog-nav__list
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Взрослые самокаты
                    +icon('chevron-right', 'catalog-nav__icon')
                ul.catalog-nav__list
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые самокаты с надувными колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Взрослые самокаты с надувными колесами
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Десткие самокаты
                    +icon('chevron-right', 'catalog-nav__icon')
                ul.catalog-nav__list
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские самокаты с надувными колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Детские самокаты с надувными колесами
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Городские самокаты
                    +icon('chevron-right', 'catalog-nav__icon')
                ul.catalog-nav__list
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские самокаты с надувными колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Городские самокаты с надувными колесами
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Складные самокаты
                    +icon('chevron-right', 'catalog-nav__icon')
                ul.catalog-nav__list
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные самокаты с надувными колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Складные самокаты с надувными колесами
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Трюковые самокаты
                    +icon('chevron-right', 'catalog-nav__icon')
                ul.catalog-nav__list
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые самокаты с надувными колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые двухколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые трехколесные самокаты
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="#").catalog-nav__link 
                            span.catalog-nav__text Трюковые самокаты с надувными колесами
            li.catalog-nav__item
                a(href="#").catalog-nav__link
                    span.catalog-nav__text Электросамокаты
                    +icon('chevron-right', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Самокаты с двумя амортизаторами
                    +icon('chevron-right', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Самокаты Globber
                    +icon('chevron-right', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Самокаты Micro
                    +icon('chevron-right', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Самокаты от года
                    +icon('chevron-right', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="#").catalog-nav__link 
                    span.catalog-nav__text Самокаты Puky
                    +icon('chevron-right', 'catalog-nav__icon')