.search {
    position: relative;
    
    &.search--open {
        .search__body {
            display: block;
        }
    }

    &__icon {
        @include size(20px);
        cursor: pointer;
        fill: $blaze-orange;
    }

    &__body {
        background-color: $white;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.21), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        display: none;
        padding: 20px;
        position: absolute;
        right: 0;
        top: -35px;
        width: 550px;
        z-index: 4;
    }

    &__form {
        align-items: center;
        display: flex;

        @media screen and (max-width: $phone-size) {
            flex-direction: column;
        }
    }

    &__input {
        background-color: transparent;
        border: 1px solid $alto;
        border-right: 0;
        border-radius: 2px 0 0 2px;
        color: $tundora;
        padding: 0 50px 0 20px;
        line-height: 48px;
        height: 50px;
        width: 100%;

        @media screen and (max-width: $phone-size) {
            border-radius: 2px;
            border-right: 1px solid $alto;
        }

        &::placeholder {
            color: $placeholder-color;
        }

        &-wrapper {
            background-color: $white;
            flex: 1;
            position: relative;

            @media screen and (max-width: $phone-size) {
                margin-bottom: 15px;
                width: 100%;
            }
        }
    }

    &__clear {
        bottom: 0;
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        z-index: 1;

        @media screen and (max-width: $phone-size) {
            display: none;
        }

        &-icon {
            fill: rgba(75, 75, 75, 0.5);
            @include size(16px);
        }
    }

    &__btn {
        background-color: $blaze-orange;
        border: 0;
        border-radius: 0 4px 4px 0;
        color: $white;
        cursor: pointer;
        flex: 0 0 auto;
        font-weight: 700;
        height: 50px;
        padding: 0 15px;

        @media screen and (max-width: $phone-size) {
            border-radius: 4px;
            width: 100%;
        }
    }

    &-result {
        &__header {
            margin-bottom: 30px;

            & > * {
                margin: 15px 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__request {
            background-color: $athens-gray;
            border-radius: 4px;
            padding: 20px;

            & > * {
                margin: 15px 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__label {
            color: $tundora;
            display: block;
            font-weight: 700;
        }
    }
}