.product-slider
    .product-slider-dots
        .product-slider-dots__btn.product-slider-dots__btn--prev
            +icon('chevron-down', 'product-slider-dots__btn-icon')
        .js-product-slider-dots
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/product-1.png" alt="Превью картинки продукта").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/product-1.png" alt="Превью картинки продукта").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/product-1.png" alt="Превью картинки продукта").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/product-1.png" alt="Превью картинки продукта").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/product-1.png" alt="Превью картинки продукта").product-slider-dots__img
            .product-slider-dots__item
                img(src="static/images/content/products/product-1/product-1.png" alt="Превью картинки продукта").product-slider-dots__img
        .product-slider-dots__btn.product-slider-dots__btn--next
            +icon('chevron-down', 'product-slider-dots__btn-icon')    
    .js-product-slider
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/product-1.png" alt="Картинка продукта").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/product-1.png" alt="Картинка продукта").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/product-1.png" alt="Картинка продукта").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/product-1.png" alt="Картинка продукта").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/product-1.png" alt="Картинка продукта").product-slider__img
        .product-slider__img-wrapper
            img(src="static/images/content/products/product-1/product-1.png" alt="Картинка продукта").product-slider__img